/* responsive font sizes | comment this out if you wanna use defaults */
:root {
  font-size: 15px;
}

@media (min-width: 1600px) {
  :root {
    font-size: 17px;
  }
}

@media (min-width: 1800px) {
  :root {
    font-size: 18px;
  }
}

/* page transition css start */
.page-transition-easing {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
@media (prefers-reduced-motion) {
  .page-transition-easing {
    transition-property: opacity, transform, filter, background;
    transition-timing-function: none;
    transition-duration: 0;
  }
}
.page-transition {
  opacity: 0;
  background: var(--background);
  transform: translateY(40px);
  filter: blur(12px);
}
/* page transition css end */
