@import 'tailwindcss';

@plugin "tailwindcss-motion";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-condensed:
    var(--font-condensed), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: '0';
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
    padding-inline: 2rem;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
    padding-inline: 3rem;
  }
  @media (width >= 1440px) {
    max-width: 1440px;
    padding-inline: 4rem;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
    min-width: 0;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    @apply bg-foreground/20;
  }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    @apply bg-foreground/30;
  }
  ::-webkit-scrollbar-track {
    @apply bg-foreground/3;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: clip;
    --scroll-behavior: smooth;
  }
  /* fix layout shift of select box */
  html > body[style] {
    margin-right: 0 !important;
  }

  /* input field fix*/
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
  input,
  textarea {
    @apply w-full bg-transparent outline-none;
    /* background-color: transparent;
    outline: none;
    width: 100%; */
  }

  body {
    /* min-height: 100vh; */
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: clip;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  *::selection {
    color: white;
    background-color: rgb(63 63 70);
  }

  .dark *::selection {
    color: black;
    background-color: white;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

/* utility classes needs to be kebab case {ex: test-red} */
/* Scrollbar utilities */
@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility scrollbar-thin {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

@utility break-words {
  white-space: pre-wrap;
  word-break: break-word;
}

/* Centering utilities */
@utility center-x {
  margin-left: 50%;
  transform: translateX(-50%);
}

@utility center-y {
  top: 50%;
  transform: translateY(-50%);
}

@utility center-position-x {
  left: 50%;
  transform: translateX(-50%);
}

@utility center-position-y {
  top: 50%;
  transform: translateY(-50%);
}

/* Link styling */
@utility link {
  color: var(--primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;

  &:hover {
    text-decoration-line: underline;
  }
}

/* Container utility */
@utility container-mini {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem; /* 3xl = 48rem */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}

@utility text-heading {
  font-size: clamp(3rem, 1.548rem + 3.871vw, 6rem);
  font-weight: 700;
  line-height: clamp(3rem, 1.065rem + 5.161vw, 7rem);
}
@utility text-heading-sm {
  font-size: clamp(1.5rem, 0.774rem + 1.935vw, 3rem);
  font-weight: 700;
  line-height: clamp(1.75rem, 0.874rem + 2.335vw, 3.56rem);
}

/* gradients for cricle overlays */

/* does not work cause we're directly using hsl values in vars */
@utility bg-primary-radial-gradient {
  background: color-mix(in oklab, var(--primary) 3%, transparent);
  background: radial-gradient(
    circle,
    color-mix(in oklab, var(--primary) 50%, transparent) 0%,
    color-mix(in oklab, var(--primary) 18%, transparent) 30%,
    color-mix(in oklab, var(--primary) 5%, transparent) 50%,
    color-mix(in oklab, var(--primary) 0%, transparent) 70%
  );
  background-size: cover;
  background-position: center;
  object-fit: fill;
  @variant dark {
    background: color-mix(in oklab, var(--primary) 3%, transparent);
    background: radial-gradient(
      circle,
      color-mix(in oklab, var(--primary) 40%, transparent) 0%,
      color-mix(in oklab, var(--primary) 15%, transparent) 30%,
      color-mix(in oklab, var(--primary) 5%, transparent) 50%,
      color-mix(in oklab, var(--primary) 0%, transparent) 70%
    );
    background-size: cover;
    background-position: center;
    object-fit: fill;
  }
}

@utility bg-foreground-radial-gradient {
  background: hsl(var(--foreground) / 0.01);
  background: radial-gradient(
    circle,
    hsl(var(--foreground) / 0.3) 0%,
    hsl(var(--foreground) / 0.09) 30%,
    hsl(var(--foreground) / 0.02) 50%,
    hsl(var(--foreground) / 0) 70%
  );
  background-size: cover;
  background-position: center;
  object-fit: fill;
}

@utility border-primary-gradient {
  position: relative;
  background: linear-gradient(
    320deg,
    rgba(119, 47, 253, 1) 0%,
    rgba(61, 28, 101, 0.7) 15%,
    rgba(140, 47, 253, 0) 40%,
    rgba(129, 47, 253, 0) 65%,
    rgba(89, 34, 152, 0.6) 88%,
    rgba(119, 47, 253, 1) 100%
  );
  background-size: cover;
  background-position: center;
  object-fit: fill;
  &::before {
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 50%;
    background-color: var(--background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@utility bg-liner-overlay-gradient {
  @apply from-background/0 to-background bg-gradient-to-b;
}
/* @layer utilities {
} */
/* https://ui.shadcn.com/docs/tailwind-v4 */
@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.04 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.04 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.04 0 0);
    --primary: oklch(0.09 0 0);
    --primary-foreground: oklch(0.98 0 0);
    --secondary: oklch(0.96 0 0);
    --secondary-foreground: oklch(0.09 0 0);
    --muted: oklch(0.96 0 0);
    --muted-foreground: oklch(0.45 0 0);
    --accent: oklch(0.96 0 0);
    --accent-foreground: oklch(0.09 0 0);
    --destructive: oklch(0.64 0.21 25.33);
    --border: oklch(0.9 0 0);
    --input: oklch(0.9 0 0);
    --ring: oklch(0.04 0 0);

    --radius: 0rem;

    --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
    --shadow-sm:
      0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
    --shadow:
      0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
    --shadow-md:
      0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
    --shadow-lg:
      0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
    --shadow-xl:
      0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
    --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
  }

  .dark {
    --background: oklch(0.16 0.01 264.08);
    --foreground: oklch(0.98 0 0);
    --card: oklch(0.21 0.02 265.5);
    --card-foreground: oklch(0.98 0 0);
    --popover: oklch(0.04 0 0);
    --popover-foreground: oklch(0.98 0 0);
    --primary: oklch(0.6 0.23 27.23);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.84 0.16 81.06);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.28 0.03 261.69);
    --muted-foreground: oklch(0.64 0 0);
    --accent: oklch(0.28 0.03 261.69);
    --accent-foreground: oklch(0.98 0 0);
    --destructive: oklch(0.64 0.21 25.33);
    --border: oklch(0.28 0.03 261.69);
    --input: oklch(0.28 0.03 261.69);
    --ring: oklch(0.28 0.03 261.69);

    --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
    --shadow-sm:
      0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
    --shadow:
      0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
    --shadow-md:
      0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
    --shadow-lg:
      0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
    --shadow-xl:
      0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
    --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
